<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login and registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.m"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'wall/css/main_style.css' %}">

</head>

<body>
    <div id="main_container" class="container-fluid">
        <div class="row">
            <div class="col-md-5" id="left_col">
                <h2>login</h2>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group" id="login">
                        <label for="email_log">Email:</label>
                        <input type="text" name="email" id="email_log" class="form-control">
                        <label for="pass_log">Password:</label>
                        <input type="password" name="password" id="pass_log" class="form-control">
                        <input type="submit" value="Login" class="form-control btn-primary">
                    </div>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-md-5" id="right_col">
                <h2>New User Registration</h2>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group" id="form">
                        <label for="fname_reg">First Name:</label>
                        <input type="text" name="first_name" id="fname_reg" class="form-control">
                        <label for="lname_reg">Last Name:</label>
                        <input type="text" name="last_name" id="lname-reg" class="form-control">
                        <label for="email_reg">Email:</label>
                        <input type="text" name="email" id="email_reg" class="form-control">
                        <label for="pass_reg">Password:</label>
                        <input type="password" name="password" id="pass_reg" class="form-control">
                        <label for="cpass_reg_reg">Confirm Password:</label>
                        <input type="password" name="c_password" id="cpass_reg" class="form-control">
                        <input type="submit" value="Register" class="form-control btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
